.RockPaperScissor{
    padding-bottom: 4rem;
}
.RockPaperScissor .title{
    margin-top: 3rem;
}
.RockPaperScissor .container1{
    margin-top: 15px;
}
.RockPaperScissor button{
    text-transform: capitalize;
    border-radius: 4px;
}
.RockPaperScissor p{
    font-size: 20px;
}