:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(51, 50, 50);
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.5;
  margin: 0;
}
button {
  border: none;
  border-radius: 8px;
  padding: 0.8em 1.4em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1528cf;
  color: wheat;
  cursor: pointer;
}
button:hover {
  background-color: rgb(12, 81, 146);
}